<div class="row mt-5 d-flex gap-4">
	<div class="col col-sm-12 col-md-4">
		<app-new-comment-form
			(submit)="onNewCommentSubmit()"
		></app-new-comment-form>
	</div>

	<div class="col">
		<div class="d-flex gap-3 mt3">
			<h6>
				¿Hemos recibido el rating y se ha hecho la media correctamente?
			</h6>
			<h6 class="fw-bold">{{ averageMovieRating }}</h6>
		</div>

		<h5 class="lead">Sección de comentarios:</h5>
		<div class="d-flex flex-column justify-content-start gap-2">
			<div
				*ngFor="let comment of commentsList$ | async"
				class="card shadow"
			>
				<div class="d-flex justify-content-start gap-3 mt-3 ms-3">
					<img
						class="img-thumbnail rounded-pill avatar-icon"
						src="https://cdn-icons-png.flaticon.com/128/7153/7153080.png"
						alt="default-user-icon"
					/>
					<p class="lead fs-5 fw-bold text-primary mt-2">
						{{ comment.user }}
					</p>
					<p class="text-success fw-bold fs-5 mt-2">
						{{ comment.rating }}/5
					</p>
				</div>
				<div class="mb-3">
					<p class="fs-6 text-secondar ms-3 me-2 mt-3">
						{{ comment.comment }}
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <pre>{{ commentsList$ | async | json }}</pre> -->
