<div class="background-page">
	<div class="container">
		<h1 class="text-center pt-5">Explora el listado de películas</h1>

		<div class="d-flex justify-content-center gap-2 mt-3 mb-3">
			<h4 class="lead">
				Si tienes el rol de administrador dentro de la aplicación,
				puedes añadir una nueva película:
			</h4>
			<button
				class="btn btn-sm btn-secondary rounded-pill shadow"
				(click)="AddNewMovie()"
			>
				Añadir
			</button>
		</div>

		<ng-container *ngIf="!movies">
			<div>
				<h4 class="mt-5">Loading</h4>
			</div>
		</ng-container>

		<div
			class="section d-flex justify-content-center flex-wrap gap-3 pt-4 pb-5"
		>
			<ng-container *ngFor="let movie of movies">
				<div class="card movieCard shadow-sm">
					<div class="card-head">
						<img
							src="{{ movie.image }}"
							class="card-img-top mt-2"
							alt="..."
							(click)="MovieInfo(movie.id)"
						/>
					</div>

					<div
						class="card-body mt-2 d-flex flex-column justify-content-start"
					>
						<h4 class="card-title fw-bold">{{ movie.title }}</h4>
						<h6 class="lead fs-6 text-green">
							{{ movie.year }}
						</h6>

						<p class="card-text card__preview-text fw-light">
							{{ movie.summary }}
						</p>
						<!-- <h6 class="card-title">Comment:</h6>
						<p class="card-text card__preview-text fs-6 fw-light">
							{{ movie.comment }}
						</p> -->
						<div class="d-flex flex-column align-self-start">
							<button
								class="btn btn-sm align-self-start btn-outline-dark rounded-pill"
								(click)="MovieInfo(movie.id)"
							>
								read more
							</button>
						</div>
					</div>

					<!-- SOLO EL ROL DE ADMIN PUEDE BORRAR LAS PELÍCULAS -->
					<!-- ESTO DEBERÍA SER UN NG-TEMPLATE QUE SE MUESTRE CHEQUEANDO EL
					ROL DEL USER$ -->
					<div class="card-footer d-flex justify-content-start gap-2">
						<p style="font-size: 0.65rem">
							Tenemos que chequear el usuario. Si es admin, puede
							eliminar
						</p>
						<button
							class="btn btn-sm btn-outline-danger rounded-pill"
							(click)="Delete(movie.id)"
						>
							delete movie
						</button>
					</div>
				</div>
			</ng-container>
		</div>
	</div>
</div>
