.background-page {
    background-color: rgb(237, 237, 237);
}

.movieCard {
    width: 17rem;
    max-height: 48rem;
}

.card-head {
    min-height: 8rem;
}

.card-img-top {
    object-fit: contain;
    height: 22rem;
}

//Estas líneas de CSS nos permiten ocultar las parrafadas de texto y hacer las cards más pequeñas
.card__preview-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

