<div class="container">
	<form class="p-3 m-3" [formGroup]="newMovieForm" (ngSubmit)="onSubmit()">
		<h4 class="text-center lead fs-2">
			Añade una nueva película a MovieReview
		</h4>
		<!-- TITLE -->
		<div class="row d-flex justify-content-between">
			<div class="col mb-3">
				<label class="lead fs-6 mb-2"
					>Título<span class="text-danger"> *</span></label
				>
				<input
					type="text"
					class="form-control"
					formControlName="title"
					required
				/>
				<div
					class="alert alert-danger mt-2"
					*ngIf="
						newMovieForm.get('title').touched &&
						newMovieForm.get('title').hasError('required')
					"
				>
					Este campo es requerido
				</div>
				<div
					class="alert alert-danger mt-2"
					*ngIf="
						newMovieForm.get('title').touched &&
						newMovieForm.get('title').hasError('minlength')
					"
				>
					El título es demasiado corto!
				</div>
				<div
					class="alert alert-danger mt-2"
					*ngIf="
						newMovieForm.get('title').touched &&
						newMovieForm.get('title').hasError('maxlength')
					"
				>
					El título es demasiado largo!
				</div>
			</div>
			<!-- YEAR PLANTEADO CON UN SELECT -->
			<div class="col col-auto mb-3">
				<label class="lead fs-6 mb-2"
					>Año<span class="text-danger"> *</span></label
				>
				<select class="form-select" formControlName="year">
					<option value="" selected disabled>
						Año de estreno de la película
					</option>
					<option *ngFor="let year of years">{{ year }}</option>
				</select>
				<div
					*ngIf="
						newMovieForm.get('year').touched &&
						newMovieForm.get('year').hasError('required')
					"
					class="alert alert-danger mt-2"
				>
					Este campo es requerido.
				</div>
			</div>
		</div>

		<!-- SUMMARY -->
		<div class="mb-3">
			<label class="lead fs-6 mb-2"
				>Sinopsis<span class="text-danger"> *</span></label
			>
			<textarea
				type="text"
				placeholder="Escribe la sinopsis de esta película"
				class="form-control"
				formControlName="summary"
				required
			></textarea>
			<div
				class="alert alert-danger mt-2"
				*ngIf="
					newMovieForm.get('summary').touched &&
					newMovieForm.get('summary').hasError('required')
				"
			>
				Este campo es requerido
			</div>
			<div
				class="alert alert-danger mt-2"
				*ngIf="
					newMovieForm.get('summary').touched &&
					newMovieForm.get('summary').hasError('minlength')
				"
			>
				Esta descripción es demasiado corta!
			</div>
			<div
				class="alert alert-danger mt-2"
				*ngIf="
					newMovieForm.get('summary').touched &&
					newMovieForm.get('summary').hasError('maxlength')
				"
			>
				Esta descripción es demasiado extensa!
			</div>
		</div>

		<!-- IMAGE -->
		<div class="row d-flex justify-content-between">
			<div class="col mb-3">
				<label class="lead fs-6 mb-2"
					>Imagen<span class="text-info">
						(url de la imagen)</span
					></label
				>
				<input
					type="text"
					class="form-control"
					formControlName="image"
					required
				/>
			</div>

			<!-- GENRES -->
			<div class="col col-auto mb-3">
				<label class="lead fs-6 mb-2">Género</label>
				<select
					class="form-select"
					formControlName="genres"
					multiple="true"
				>
					<option ngValue="null" selected disabled>
						¿Cuál es el género de esta película?
					</option>
					<option
						*ngFor="let genre of genres$ | async"
						[value]="genre.id"
					>
						{{ genre.genre }}
					</option>
				</select>
			</div>

			<!-- GENRE2 -->
			<!-- <div class="mb-3">
				<label class="lead fs-6 mb-2">Genre 2</label>
				<input
					type="number"
					class="form-control"
					formControlName="genre2"
					required
				/>
			</div> -->
		</div>

		<!-- CAST -->
		<div class="row d-flex gap-2">
			<div class="col col-sm-5 mb-3">
				<label class="lead fs-6 mb-2">Cast</label>
				<input
					type="text-area"
					class="form-control"
					formControlName="cast"
					required
				/>
			</div>

			<!-- DIRECTOR -->
			<div class="col col-sm-5 mb-3">
				<label class="lead fs-6 mb-2">Director</label>
				<input
					type="text-area"
					class="form-control"
					formControlName="director"
					required
				/>
			</div>
		</div>

		<!-- BOTÓN DE SUBMIT -->
		<div class="d-flex justify-content-center gap-2 mt-3 mb-3">
			<button type="submit" class="btn btn-primary shadow-sm">
				Añadir película
			</button>
			<button
				(click)="navigateToExplore()"
				class="btn btn-secondary shadow-sm"
			>
				Cancelar
			</button>
		</div>
	</form>
</div>
