<section id="footer">
	<div class="container-fluid bg-dark pb-3">
		<div class="container pt-3">
			<div class="row text-left text-xs-center text-sm-left text-md-left">
				<div class="d-flex justify-content-start">
					<img
						routerLinkActive="router-link-active"
						routerLink="home"
						src="/assets/favicon/icons8-film-reel-windows-11-color-96.png"
						type="image/png"
						alt="logo-movie-review"
						height="60px"
						class="pt-3"
					/>
					<a
						class="text-light pb-3 pt-3 nav-link fs-2"
						routerLink="home"
						href="home"
						>Movie Review</a
					>
				</div>
				<hr
					class="bg-light border-2 border-top border-light ms-3 me-5"
				/>
				<!-- FIRST COLUMN -->
				<div class="col-xs-12 col-md-6">
					<ul class="list-unstyled text-start">
						<li>
							<a
								class="fs-6 nav-link lead text-light"
								href="home"
								routerLink="home"
								>Home</a
							>
						</li>
						<li>
							<a
								class="fs-6 nav-link lead text-light"
								href="explore-movies"
								routerLink="explore-movies"
								>Explorar películas</a
							>
						</li>
						<li>
							<a
								class="fs-6 nav-link lead text-light"
								href="features"
								routerLink="features"
								>Implementaciones</a
							>
						</li>
						<li>
							<a
								class="fs-6 nav-link lead text-light"
								href="about-me"
								routerLink="about-me"
								>El equipo</a
							>
						</li>
					</ul>
				</div>

				<!-- SECOND COLUMN -->
				<div class="col-xs-12 col-md-6">
					<ul class="list-unstyled quick-links text-start">
						<li
							class="d-flex justify-content-start align-items-center"
						>
							<div class="fa-icon-container">
								<fa-icon
									[icon]="faUser"
									style="color: #ffffff"
								></fa-icon>
							</div>
							<a
								class="fs-6 nav-link lead text-light"
								href="https://www.linkedin.com/in/alvaro-fajardo-plaza-347b0218b/"
								>Álvaro Fajardo
							</a>
						</li>
						<li
							class="d-flex justify-content-start align-items-center"
						>
							<div class="fa-icon-container">
								<fa-icon
									[icon]="faMailBulk"
									style="color: #ffffff"
								></fa-icon>
							</div>
							<a
								class="fs-6 nav-link lead text-light"
								href="https://github.com/AlvaroFajardoPlaza?tab=repositories"
								>alvarofajardoplaza.github.com
							</a>
						</li>
						<li
							class="d-flex justify-content-start align-items-center"
						>
							<div class="fa-icon-container">
								<fa-icon
									[icon]="faLink"
									style="color: #ffffff"
								></fa-icon>
							</div>
							<a
								class="fs-6 nav-link lead text-light"
								href="https://www.instagram.com/itsalvarofajardo/"
								>itsalvarofajardo
							</a>
						</li>
						<li
							class="d-flex justify-content-start align-items-center"
						>
							<div class="fa-icon-container">
								<fa-icon
									[icon]="faGlobe"
									style="color: #ffffff"
								></fa-icon>
							</div>
							<a
								class="fs-6 nav-link lead text-light text-decoration-none"
								href="https://www.alvarofajardo.com"
								>alvarofajardo.com</a
							>
						</li>
					</ul>
				</div>

				<div class="text-center mt-4">
					<p class="lead text-light fs-6">
						| All rights reserved | 2023
					</p>
				</div>

				<!-- <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p class="text-center"><u><a href="https://www.nationaltransaction.com/">National Transaction Corporation</a></u> is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p>
                <p class="h6">© All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Sunlimetech</a></p>
            </div>
            <hr>
        </div>	 -->
			</div>
		</div>
	</div>
</section>
