<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>    

      <div class="d-flex justify-content-start">
        <img routerLinkActive="router-link-active" routerLink="home" href="home" src="/assets/favicon/icons8-film-reel-windows-11-color-96.png" type="image/png" alt="logo-movie-review" height="34px" class="pt-2"/>
        <a class="nav-link lead text-light" routerLink="home" href="home">Movie Review</a>
      </div>

    <!-- MENÚ HARDCODEADO DENTRO DE LA PLANTILLA HTML
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="explore-movies" routerLinkActive="router-link-active" href="explore-movies">Explore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="features" routerLinkActive="router-link-active" href="features">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="pricing" routerLinkActive="router-link-active" href="pricing">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about-us" routerLinkActive="router-link-active" href="about-us">About us</a>
          </li>
        </ul>
      </div> -->

      <!-- APLICANDO MENÚ LLAMADO DESDE EL ARCHIVO TYPESCRIPT -->
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" *ngFor="let item of MenuItems">
                <a class="nav-link text-capitalize" href={{item.route}} >{{item.label}}</a>
            </li>
        </ul>
      </div>

      <div class="d-flex gap-2">
        <button type="button" class="btn btn-outline-light rounded-pill">Register</button>
        <button type="button" class="btn btn-outline-light rounded-pill">Login</button>
      </div>

    </div>
  </nav>
