<div class="section section-movie-details">
	<div class="container p-5" *ngIf="movie$ | async as movie">
		<!-- Queremos una estructura de dos columnas -->
		<div class="row d-flex justify-content-start gap-3">
			<div class="col-md-4 col-sm-12">
				<img
					src="{{ movie.image }}"
					class="poster-movie-image shadow"
				/>
			</div>

			<div class="col">
				<h1 class="">{{ movie.title }}</h1>
				<h6 class="lead">| {{ movie.year }} |</h6>
				<br />
				<p class="lead fs-6">{{ movie.summary }}</p>
				<!-- <h4>Comments:</h4>
				<p class="fs-6">{{ movie.comment }}</p> -->
				<div>
					<app-comments-list></app-comments-list>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <pre>{{ movie$ | async | json }}</pre> -->

<!-- Esta previsualización no funciona porque le falta el async en la llamada. -->
<!-- <pre>{{ movie$ | json }}</pre> -->
