<div class="section section-movie-details pt-5">
	<div class="container p-5" *ngIf="movie$ | async as movie">
		<!-- Queremos una estructura de dos columnas -->
		<div class="row d-flex justify-content-start gap-3">
			<div class="col col-md-4 col-sm-12">
				<img
					src="{{ movie.image }}"
					class="poster-movie-image shadow"
				/>
			</div>

			<div class="col">
				<h1 class="">{{ movie.title }}</h1>
				<h6 class="lead">| {{ movie.year }} | {{ movie.director }}</h6>
				<br />
				<p class="lead fs-6">{{ movie.summary }}</p>

				<div *ngIf="movie.cast">
					<p class="lead fs-6">{{ movie.cast }}</p>
				</div>

				<div class="d-flex justify-content-start gap-2">
					<button
						class="btn disabled btn-sm rounded-pill btn-secondary"
						*ngFor="let genre of genres"
					>
						{{ genre.genre }}
					</button>
				</div>

				<div class="card bg-dark p-3 shadow mt-5">
					<h3 class="lead text-light mt-2">
						Valoración media según los usuarios:
						<span class="fw-bold text-success">{{ rating2 }}</span>
					</h3>
				</div>
			</div>
		</div>
		<div class="row mt-4">
			<!-- ELIMINAMOS EL OUTPUT DEL RATING Y LO TRAEMOS DESDE EL SERVICIO CON UNA LLAMADA -->
			<!-- <app-comments-list
				(sendRatingToMovieComponent)="onRatingReceived($event)"
			></app-comments-list> -->
			<app-comments-list></app-comments-list>
		</div>
	</div>
</div>

<!-- <pre>{{ movie$ | async | json }}</pre> -->

<!-- Esta previsualización no funciona porque le falta el async en la llamada. -->
<!-- <pre>{{ movie$ | json }}</pre> -->
